.footer{ display: block;}

.bottomBorder{ border-bottom: solid #eeeeee 2px;}
.wrapper{}
.whyBlock{ background: #eeeeee no-repeat;}
.grayBottomBorder{ border-bottom: 2px solid #c5c5c5;}
.nomargin {
	margin: 0;
}

.nopadding{ padding-left: 0;
	padding-right: 0;
}

.headerPhone {
	margin-top: 20px;
}

h2 {
	font-family: fantasy !important;
}
.formFindOut {
	padding: 20% 0;

}

.whyTitle{ height: 78px;
	overflow: hidden;
}
.whyTitleImg{ height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.priceButton{ margin-top: 15px;
	margin-bottom: 15px;
}

.priceProBlock {
	background-color:#ffa500;
	background-color: rgba(231, 160, 31, 1);
	color: #ffffff;
	color: rgba(255, 255, 255, 1);
}

 .priceNoteBlock{ margin-bottom: 20px;
	 margin-top: 10px;
 }

 .priceListImage{ height: 20px;}

 .cart {
	 background-color: rgba(211,211,211,0.4);
	 border-radius: 10px;
 }