.footer{ display: block;}

.bottomBorder{ border-bottom: solid #eeeeee 2px;}
.wrapper{}
.whyBlock{ background: #eeeeee no-repeat;}
.grayBottomBorder{ border-bottom: 2px solid #c5c5c5;}
.nomargin {
	margin: 0;
}

.headerPhone {
	margin-top: 20px;
}

h2 {
	font-family: fantasy !important;
}